VITE_BOT_API_URL=https://api.robloxkeys.store
VITE_BOT_API_PREFIX=/api/bot
VITE_BOT_API_KEY=CHANGE_ME
VITE_BOT_API_KEY_HEADER=x-api-key

VITE_STORE_API_URL=https://api.robloxkeys.store
VITE_STORE_API_PREFIX=/shop
VITE_STORE_API_KEY=CHANGE_ME
